body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
    background-image: url(rotomdex.jpg.png);
    background-attachment: fixed;
    background-position: center;
}
header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 0;
    height: 40px;
}
.cuerpo {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.menu  {
    text-decoration: none;
    color: #cecccc;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    background-color: #ff4242;
}

}


#tituloprincipal{
   text-align: center;
}



.pokemon-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.pokemon-table thead {
    background-color: #ff4242;
    color: white;
}

.pokemon-table th, .pokemon-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}



.pokemon-table tbody tr:hover {
    background-color: #ffcb05;
    color: #2a75bb;
}

.pokemon-table th {
    font-size: 18px;
    font-weight: bold;
}

.pokemon-table td {
    font-size: 16px;
}


.navbar {
    background-color: #333; 
    overflow: hidden;
    top: 0;
    width: 100%; 
}

.navbar a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ff4242; 
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: #ff4242;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #13abf1;
    color: #ffffff;
}
